.ServicesButton.btn.btn-outline-danger {
    color: #ec4090;
    border-radius: 10rem;
    border-color: #ec4090;
    padding: 10px 16px;
    opacity: 0.9;
}

.ServicesButton.btn.btn-outline-danger:hover,
.ServicesButton.btn.btn-outline-danger:focus {
    color: white;
    background-color: #ec4090;
    border-color: #ec4090;
    box-shadow: none;
    border-color: #ec4090;
    opacity: 1;
}

.ServicesButton.btn-outline-danger:not(:disabled):not(.disabled):active {
    background-color: #ec4090;
    border-color: #ec4090;
}
