.footer {
    position: relative;
    overflow: hidden;
    display: block;
    padding-top: 80px;
    background-color: #101010;
    color: white;
}

.footer-top {
    padding-bottom: 60px;
}

.footer-bottom {
    padding: 40px 0 40px 0;
    background-color: #1a1a1a;
    border-top: 1px solid #1a1a1a;
}

.footer-top i {
    margin-bottom: 10px;
    color: #ec4090;
    font-size: 60px;
}

.footer p {
    margin-bottom: 5px;
    line-height: 24px;
    color: #727272;
}

.footer p > a {
    font-size: 17px;
    color: #ec4090;
}

.footer p > a:hover {
    color: #ec4090;
}

span.template-name {
    font-weight: bold;
    color: #ec4090;
}
.footer .footer-title {
    margin: 10px 0;
    margin-top: 30px;
    color: #ec4090;
}

a.footer-links {
    display: block;
    font-size: 17px;
    margin-bottom: 2px;
    color: #727272;
}

a.footer-links:hover {
    color: #ec4090;
    text-decoration: underline;
    transition: all 0.5s ease-in-out;
}

/* Footer Social Icons */
ul.footer_social {
    width: 100%;
    max-width: 1140px;
    display: block;
    margin: 0 auto;
    padding: 0;
    padding-top: 15px;
    text-align: center;
}

ul.footer_social li {
    display: inline-block;
    margin: 0;
    line-height: 100%;
}

ul.footer_social li a .i {
    display: inline-block;
    margin: 0 8px;
    padding: 0;
    font-size: 26px;
    line-height: 26px;
    color: #1e90ff;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
}

ul.footer_social li a .fa-twitter {
    color: #4099ff;
}

ul.footer_social a .fa-facebook {
    color: #3b5998;
}

ul.footer_social li a .fa-instagram {
    color: #8a3ab9;
}

ul.footer_social li a .fa-youtube {
    color: #ff0000;
}

ul.footer_social li a .i:hover {
    color: #ec4090 !important;
}

/* Footer Contact */
p.contact-info {
    margin-bottom: 8px;
}

p.contact-info a {
    margin-bottom: 8px;
    color: #7c8595;
}

p.contact-info a:hover {
    text-decoration: underline;
}

p.contact-info .i {
    font-size: 18px;
    padding-right: 5px;
    vertical-align: middle;
    color: #1e90ff;
}
